# --- AWS IoT Core Configuration ---
AWS_ENDPOINT=your-endpoint.iot.your-region.amazonaws.com
CERT_FILE_NAME=your-certificate-file-name.pem.crt
KEY_FILE_NAME=your-private-key-file-name.pem.key

# --- AWS S3 Configuration ---
S3_BUCKET_NAME=your-unique-s3-bucket-name

# --- Flask Dashboard Configuration ---
SECRET_KEY=a-very-strong-and-random-secret-key-for-flask
